	// Fonts
@import url(https://fonts.googleapis.com/css?family=Lato:400,300,700);

// Resets
* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html, body {
	height: 100%;
}

body {
	overflow-x: hidden;
}

img {
	max-width: 100%;
}

a {
	color: #fff;
	text-decoration: none;
}

// Globals
.row, .column {
	display: flex;
}

.column {
	flex-direction: column;
}

.center {
	justify-content: center;
}

.column-center {
	align-items: center;
}

.split {
	justify-content: space-between;
}

.split-center {
	justify-content: space-around;
}

.right {
	align-self: flex-end;
}

.bottom {
	align-items: flex-end;
}

.hide {
	display: none;
}

// Animations
@keyframes logoSlideIn {
	0%, 40% {
		transform: translate(-160%);
	}
	100% {
		transform: translate(0);
	}
}

@keyframes navSlideIn {
	0%, 40% {
		transform: translate(110%);
	}
	100% {
		transform: translate(0);
	}
}

.Start {
	&__logo {
		animation: logoSlideIn 1s;
		width: 90px;
		fill: #fff;
	}
	header {
		padding: 17px 4% 0;
		font-family: 'Lato', sans-serif;
		font-weight: 300;
	}
	nav {
		animation: navSlideIn 1s;
		a {
			margin-left: 15px;
			position: relative;
			&:not(:last-child):before {
				content: '';
				height: 1px;
				background: #fff;
				width: 100%;
				position: absolute;
				bottom: -10px;
				left: 0;
				transform: scaleX(0);
				transform-origin: center right;
				transition: transform .3s;
			}
			&:not(:last-child):hover:before {
				transform-origin: center left;
				transform: scaleX(1);
			}
			&:last-child {
				border: 2px solid #fff;
				padding: 3px 18px 8px 15px; 
				border-radius: 2px;
				position: relative;
				&:hover {
					color: rgb(93, 193, 175);
				}
				&:before {
					content: '';
					position: absolute;
					width: 100%;
					height: 100%;
					top: 0;
					left: 0;
					background: #fff;
					z-index: -1;
					transform: scaleX(0);
					transition: transform .3s;
					transform-origin: top left;
				}
				&:hover:before {
					transform: scaleX(1);
				}
			}
		}
	}

	.start-hero {
		padding-top: 300px;
		padding-bottom: 300px;
		text-align: center;
		overflow: hidden;
		.second {
			width: 200px;
			fill: #fff;
		}
		button {

			color: white;
			font-size: 1em;
			width: 200px;
			padding: 20px;
			background-color: transparent;
			background-repeat: no-repeat;
			border: 2px solid white;
			span {
				font-weight: bold;
			}
		}
		h1 {
			font-family: 'Lato', sans-serif;
			font-weight: 100;
			color: white;
			font-size: 1.5em;
			margin-top: 40px;
		}
	}
	&__bg {
		position: absolute;
		width: 100%;
		height: 100%;
		background: rgb(93, 193, 175);
		z-index: -1;
	}
}

.skype {
	margin-top: 150px;
	margin-bottom: 300px;
	clear: both;
	overflow: hidden;
	h1 {
		font-family: 'Lato', sans-serif;
		font-weight: 900;
		text-align: left;
		color: gray;
	}
	p {
		font-family: 'Lato', sans-serif;
		padding-top: 20px;
		max-width: 400px;
	}
	img {
		padding-top: 50px;
	}
	button {
		margin-top: 30px;
		color: white;
		font-size: 1em;
		width: 200px;
		padding: 20px;
		border: 2px solid white;
		background: rgb(93, 193, 175);
		transition-property: background;
		transition-duration: .5s;
		transition-timing-function: linear;
	}
	button:hover {
				  border: 2px solid rgb(93, 193, 175);
				  color: rgb(93, 193, 175);
				  background: white;
				}
	.green_bg {
		margin-top: -400px;
		background-color: rgb(93, 193, 175);
		width: 100%;
		height: 1200px;
	}
	.slack {
		display: flex;
	   	flex-direction: column;
		align-items: flex-end;
		margin-top: -650px;
			h1 {
				color: white;
			}
			p {
				color: white;
				text-align: right;
			}
			.second_btn {
				border: 2px solid white;
				background: none;
				transition-property: background;
				transition-duration: .5s;
				transition-timing-function: linear;
				}
				.second_btn:hover {
				  color: rgb(93, 193, 175);
				  background: white;
				}
	}
}
.angle {
	margin-top: 50px;
	position: absolute;
	h1 { 
		color: gray;
		font-family: 'Lato', sans-serif;
		max-width: 350px;
		margin-left: 320px;
		margin-bottom: -350px;
	}
	p {
		padding-top: 30px;
		line-height: 200%;
		font-family: 'Lato', sans-serif;
		max-width: 500px;
		margin-left: 320px;
	}
	.phone {
		
			//width: 100%;
			height: 0px;
			margin-top: -40; 
			border-left: 2000px solid transparent;
			border-right: 150px solid trasnsparent;
			border-bottom: 350px solid rgb(93, 193, 175);
		}
		img {
			height: 800px;
			position: relative;
   			top: 30px;
   			margin-bottom: -450px;
   			right: -756px;
		 } 
}

